.head {
    width: 100%;
    background: #293F50;
}
.container {
    width: 68%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.container-1 {
    margin:3% 0;
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
}
.header {
    width: 20%;
    font-weight:200 ;
    font-size: 3em;
   
}
.colora {
    color:#648880;
    font-weight:300 ;
}
.colorb,
.nav-hover {
    color: white;
}
.date {
    font-size: 1.3em;
    display: flex;
    justify-content: flex-end;
    margin-top: 8%;
}
.nav-list {
    display: flex;
    margin:6% 0 0 0;   
}
.nav-list-item {
    margin-left:4em;
    font-size: 0.9em;   
}
.nav-hover:hover {
    color:#648880;
}
.subhead {
    width: 100%;
    height: 35vh;
    background:linear-gradient(to right, #a1d3b0, #f6f1d3); ;
}
.Venue {
    text-align: center;
    font-size: 2.25em;
    font-weight: normal;
    color:#648880;
    padding: 3% 0 1% 0;
}
.para {
    width: 65%;
    display: flex;
    margin: 0 auto;
}
.paragraph {
    text-align: center;
    font-size: 1.3em;
    line-height: 1.5;
    color:#888888 ;
}
.venueDiv {
    display: flex;
    flex-direction: column;
    width: 68%; 
    margin: 0 auto;
}
.chicago,
.fourSeasons {
    display: flex;
    justify-content: flex-end;
    padding: 4.13em 0 2.75em 0;
}
h2,
a {
  color: #648880;
}
p {
  color: #888888;
}
.venueLink {
  border-bottom: 0.0625em solid #dfe2e5;
  text-decoration: none;
}
.venuePara {
  margin-bottom: 	1.375em;
  width: 8.5em;
  padding-right: 12em;
  line-height: 1.5em;
}
.venueHeading {
  font-weight: 500;
  line-height: 1.5em;
}
.venueMap {
  width: 36.2em;
  height: 15.5em;
  border: none;
}
.venueFooter {
  background-color: #293F50;
  width: 100%;
  height: 15vh;
}
.footerDiv {
  display: flex;
  width: 65%;
  margin: 0 auto;
}
.firstFooterDiv,
.secondFooterDiv {
  flex: 1;
  margin: 4% 0 0 0;
}
.venueUl {
  display: flex;
  justify-content: flex-end;
}
.venueLi {
  margin-left: 8%;
  list-style-type: none;
  text-decoration: none;
}
.venueLinc {
  color: white;
  text-decoration: none;
}
.venueLinc:hover {
  color: #648880;
}

@media (max-width:600px){
  .container-1{
    flex-direction: column;
  }
  .navigation {
    display: flex;
    flex-direction: column;
  }
  .venueDiv {
    flex-direction: column;
  }
  .fourSeasons,
  .chicago {
    flex-direction: column;
    width: fit-content;
    width: 65%;
  }
  .chicagoMap,
  .fourSeasonsMap{
    width: 50%;

  }
}